[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
	branch = 2026.05.1
	shallow = true
[submodule "src/build-scripts"]
	path = src/build-scripts
	url = https://github.com/flipperdevices/flipperone-linux-build-scripts.git
	branch = dev
	shallow = true
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/flipperdevices/flipper-linux-kernel.git
	branch = flipper-devel
	shallow = true
[submodule "src/btrfs-tools"]
	path = src/btrfs-tools
	url = https://github.com/flipperdevices/flipperos-btrfs-tools.git
	branch = dev
	shallow = true
